$black: #000;
$white: #FFF;
$dark_grey: rgb(107, 113, 127);
$light_grey: rgb(248, 248, 248);
$grey: rgb(235, 235, 235);
$blue: rgb(35, 89, 236);
$blue_dark: rgb(28, 74, 201);
$green: rgb(13, 151, 0);
$green_dark: rgb(10, 97, 3);