@use "../variables" as *;

.container {
    padding: 16px;
    border: 1px solid $grey;
    border-radius: 4px;
    background-color: $light_grey;

    min-height: 250px;

    flex-grow: 1;
    flex-basis: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
